<h1>Listing regpublis</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Fecha inicio</th>
    <th>Fecha fin</th>
    <th>Tarifa</th>
    <th>Num click</th>
    <th>Ubicacion</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regpublis.each do |regpubli| %>
  <tr>
    <td><%= regpubli.Titulo %></td>
    <td><%= regpubli.Fecha_Inicio %></td>
    <td><%= regpubli.Fecha_fin %></td>
    <td><%= regpubli.Tarifa %></td>
    <td><%= regpubli.Num_Click %></td>
    <td><%= regpubli.Ubicacion %></td>
    <td><%= regpubli.Contenido %></td>
    <td><%= link_to 'Show', regpubli %></td>
    <td><%= link_to 'Edit', edit_regpubli_path(regpubli) %></td>
    <td><%= link_to 'Destroy', regpubli, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regpubli', new_regpubli_path %>
