<h1>Listing local1s</h1>

<table>
  <tr>
    <th>Nombre local</th>
    <th>Direccion</th>
    <th>Distrito</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @local1s.each do |local1| %>
  <tr>
    <td><%= local1.Nombre_local %></td>
    <td><%= local1.direccion %></td>
    <td><%= local1.distrito %></td>
    <td><%= link_to 'Show', local1 %></td>
    <td><%= link_to 'Edit', edit_local1_path(local1) %></td>
    <td><%= link_to 'Destroy', local1, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Local1', new_local1_path %>
