<p id="notice"><%= notice %></p>

<p>
  <b>Nombre local:</b>
  <%= @local.Nombre_local %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.direccion %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.distrito %>
</p>

<p>
  <b>Direccion maps:</b>
  <%= @local.direccion_maps %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.telefono %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
