<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombres %><br />
    <%= f.text_field :Nombres %>
  </div>
  <div class="field">
    <%= f.label :Apellido_Paterno %><br />
    <%= f.text_field :Apellido_Paterno %>
  </div>
  <div class="field">
    <%= f.label :Apellido_Materno %><br />
    <%= f.text_field :Apellido_Materno %>
  </div>
  <div class="field">
    <%= f.label :Sexo %><br />
    <%= f.text_field :Sexo %>
  </div>
  <div class="field">
    <%= f.label :Tipo_Documento %><br />
    <%= f.text_field :Tipo_Documento %>
  </div>
  <div class="field">
    <%= f.label :Numero_documento %><br />
    <%= f.text_field :Numero_documento %>
  </div>
  <div class="field">
    <%= f.label :Correo %><br />
    <%= f.text_field :Correo %>
  </div>
  <div class="field">
    <%= f.label :CorreoValidacion %><br />
    <%= f.text_field :CorreoValidacion %>
  </div>
  <div class="field">
    <%= f.label :FecNac %><br />
    <%= f.date_select :FecNac %>
  </div>
  <div class="field">
    <%= f.label :Celular %><br />
    <%= f.text_field :Celular %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
