<p id="notice"><%= notice %></p>

<p>
  <b>Nombres:</b>
  <%= @owner.Nombres %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @owner.Apellido_Paterno %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @owner.Apellido_Materno %>
</p>

<p>
  <b>Sexo:</b>
  <%= @owner.Sexo %>
</p>

<p>
  <b>Tipo documento:</b>
  <%= @owner.Tipo_Documento %>
</p>

<p>
  <b>Numero documento:</b>
  <%= @owner.Numero_documento %>
</p>

<p>
  <b>Correo:</b>
  <%= @owner.Correo %>
</p>

<p>
  <b>Correovalidacion:</b>
  <%= @owner.CorreoValidacion %>
</p>

<p>
  <b>Fecnac:</b>
  <%= @owner.FecNac %>
</p>

<p>
  <b>Celular:</b>
  <%= @owner.Celular %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
